<div class="col-md-12">
	<div class="row">
		<div class="col-md-6">
			<h2>Listar Permisos</h2>
		</div>
	</div>
	<table class="table table-striped table-bordered" id="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% let i=1 %>
		<% data.forEach(function(item) { %>
			<tr>
				<td><%= item.id %></td>
				<td><%= item.name %></td>
				<td><%= item.description %></td>
				<td>
					<% let editURL= '/editPermission/' + item.id %>
					<% let removeURL= '/sec_permission/delete/' + item.id %>
					<% if(SEC_SecurityService.verifyPermissionsToPath(res, editURL)){  %>
						<a style="color:green" href="<%= editURL %>">Editar</a> &bull;
					<% }; %>
					<% if(SEC_SecurityService.verifyPermissionsToPath(res, removeURL)){  %>
						<a style="color:red" href="#" onclick="remove('<%= item.id %>', '<%= item.name %>', '<%= item.description %>')">Eliminar</a>
					<% }; %>
				</td>
			</tr>
			<% i++ %>
		<% }); %>
	</tbody>
</table>
</div>

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal">&times;</button>
				 <h4 class="modal-title">Eliminar permiso</h4>
			</div>
			<div class="modal-body">
				<p>¿Está seguro de querer eliminar éste permiso?</p>
				<p id="nameModel"></p>
				<p id="descriptionModel"></p>
			</div>
			<div class="modal-footer">
				<a id="linkModalRemove" class="btn btn-danger" href="#">Eliminar</a>
				<button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
			</div>
		</div>
	</div>
</div>

<script>
	function remove(id, name, description){
		$('#linkModalRemove').attr("href", "/sec_permission/delete/"+id);
		$('#nameModel').html("<strong>Name:</strong> " + name);
		$('#descriptionModel').html("<strong>Description:</strong> " + description);
		$('#myModal').modal('show')
	}
</script>