<div class="col-md-6">
	<div class="row">
		<div class="col-md-6">
			<h2>Edit Menu</h2>
		</div>
	</div>
	<form id="form" action="/sec_menu/update/<%= dataMenu.id %>" method="post">
		<div class="form-group">
			<input type="text" name="text" id="text" class="form-control" placeholder="Text" value="<%= dataMenu.text %>">
		</div>
		<div class="form-group">
			<input type="text" name="link" id="link" class="form-control" placeholder="Link" value="<%= dataMenu.link %>">
		</div>
		<div class="alert alert-info">Use :: to indique a variable in url.</div>
		<div class="form-group">
			<label for="fatherMenu">Father Menu</label>
			<select class="form-control" id="fatherMenu" name="fatherMenu">
				<option value="nav"> NAVBar </option>
				<% dataMenus.forEach(function(item) { %>
					<% if(dataMenu.fatherMenu == item.id){ %>
						<option value="<%= item.id %>" selected> <%= item.text %> </option>
					<% }else{ %>
						<option value="<%= item.id %>"> <%= item.text %> </option>
					<% } %>
				<% }); %>
			</select>
		</div>
		<div class="form-group">
			<label for="order">Order</label>
			<input type="number" name="order" id="order" class="form-control" placeholder="Order" value="<%= dataMenu.order %>">
		</div>
		<div class="form-group">
			<label for="icon">Icon</label>
			<% if(dataMenu.icon){ %>
				<input type="text" name="icon" id="icon" class="form-control" placeholder="Icon" value="<%= dataMenu.icon %>">
			<% } else{ %>
				<input type="text" name="icon" id="icon" class="form-control" placeholder="Icon" value="">
			<% } %>
		</div>
		<br>
		<div class="form-check">
			<% if(dataMenu.showInNav){ %>
				<input class="form-check-input" type="checkbox" name="show" value="true" id="show" checked>
			<% }else{ %>
				<input class="form-check-input" type="checkbox" name="show" value="true" id="show">
			<% }%>
			<label class="form-check-label" for="show">Show In Nav</label>
		</div>
		<div class="form-check">
			<% if(dataMenu.enabled){ %>
				<input class="form-check-input" type="checkbox" name="enabled" value="true" id="enabled" checked>
			<% }else{ %>
				<input class="form-check-input" type="checkbox" name="enabled" value="true" id="enabled">
			<% }%>
			<label class="form-check-label" for="enabled">Enabled</label>
		</div>
		<br>
		<h4>Required Permissions</h4>
		<br>

		<% for(let i=0, len=dataPermissions.length; i < len; i++) { %>
			<% item = dataPermissions[i] %>
			<div class="form-check">
				<% if(verifyCheckPermission(item, dataMenu.requiredPermissions)){ %>
					<input class="form-check-input" type="checkbox" name="requiredPermissions" value="<%= item.id %>" id="permission-<%= i %>" checked>
				<% } else { %>
					<input class="form-check-input" type="checkbox" name="requiredPermissions" value="<%= item.id %>" id="permission-<%= i %>">
				<% } %>
				<label class="form-check-label" for="permission-<%= i %>"><%= item.name %> - <%= item.description %></label>
			</div>
		<% } %>
		<br>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>
</div>

<% function verifyCheckPermission(dbPermission, menuPermissions){ %>
	<% for(let i=0, len=menuPermissions.length; i < len; i++) { %>
		<% if(menuPermissions[i].id == dbPermission.id){ %>
			<% return true; %>
		<% } %>
	<% }; %>
	<% return false; %>

<% } %>
