<div class="col-md-6">
    <div class="row">
        <div class="col-md-6">
            <h2>Assign Homework</h2>
        </div>
    </div>

    <form id="login-form" action="/gen_Homework/assign" method="post">
        <div class="form-group">
            <label for="homework">Homework</label>
            <select name="homework" id="homework" class="form-control">
                <% hom.forEach(function(item) { %>
                    <option value=<%=item.id%> >
                        <%= item.title %>
                    </option>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="course">Course</label>
            <select name="course" id="course" class="form-control">
                <% cou.forEach(function(item) { %>
                    <option value=<%=item.id%> >
                        <%= item.grade %> - <%= item.letter %>
                    </option>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="startDate" class="form-control">
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Assign</button>
        </div>
    </form>
</div>