<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <h2>Descripción de la tarea</h2>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
            <center><h3><%=data.homework.topic.subject.name%> : <%=data.homework.title%></h3></center>
            <center><h4><%=data.homework.topic.title%></h4></center>
            <center><h4>Fecha de entrega : <%=data.endDate%></h4></center>            
        </div>          
        </div>      
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Logros:</h4>
            <h3 style="padding-left: 5%"><%=data.homework.achievement%></h3>
        </div>
        <div class="col-md-12">
            <h4>Descripción:</h4>
            <h3 style="padding-left: 5%"><%=data.homework.description%></h3>
        </div>
        <!--
        <div class="col-md-12">
            <h4>Study Materials:</h4>
            <h3 style="padding-left: 5%"><input type="checkbox"> Aquí va el nombre del archivo<br></h3>
            <div class="col-md-12" style="padding-left: 5%">
                <button>Descargar</button>
            </div>
        </div>
        -->
    </div>
</div>