<!DOCTYPE html>
<html>
	<head>
		<title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--BOOTSTRAP & JQUERY-->
		<link rel="stylesheet" href="/styles/bootstrap.min.css">
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!--DATATABLES-->
		<link rel="stylesheet" href="/styles/dataTables.bootstrap.min.css">
		<script src="/js/jquery.dataTables.min.js"></script>
		<script src="/js/dataTables.bootstrap.js"></script>
	</head>
	<body>
		<center>Welcome <%=user.name%> <%=user.lastName%></center>
		<hr style="padding: 0px; margin: 0px;">
		<nav>
			<ul class="nav nav-tabs">
				<% allowedMenus.forEach(function(item) { %>
					<% if(item.showInNav){ %>
						<% if(item.sonsMenus && item.sonsMenus.length == 0 && item.isRootMenu){ %>
							<li><a href="<%= item.link %>"><span class="<%= item.icon %>"></span> <%= item.text %></a></li>
						<% }else if(item.isRootMenu){ %>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="<%= item.icon %>"></span> <%= item.text %><span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<% item.sonsMenus.forEach(function(son) { %>
										<% if(son.showInNav && !son.isRootMenu){ %>
											<li><a href="<%= son.link %>"><span class="<%= son.icon %>"></span> <%= son.text %></a></li>
										<% } %>
									<% }); %>
								</ul>
							</li>
						<% } %>
					<% } %>
				<% }); %>
				<li class="pull-right"><a href="/sec_session/logout">Logout</a></li>
			</ul>
		</nav>
		<br>
		<div class=container-fluid>
			<% if (typeof messages !== 'undefined' && messages) { %>
				<% if (messages['error'].length > 0) { %>
					<div id="alertDanger" class="alert alert-danger">
						<% messages['error'].forEach(function(message) { %>
							<%= message %>
						<br>
						<% }); %>
					</div>
					<br>
				<% } %>
				<% if (messages['warning'].length > 0) { %>
					<div id="alertWarning" class="alert alert-warning">
						<% messages['warning'].forEach(function(message) { %>
							<%= message %>
						<br>
						<% }); %>
					</div>
					<br>
					<% } %>
				<% if (messages['success'].length > 0) { %>
					<div id="alertSuccess" class="alert alert-success">
						<% messages['success'].forEach(function(message) { %>
							<%= message %>
						<br>
						<% }); %>
					</div>
					<br>
				<% } %>
			<% } %>
		</div>

		<div class="container-fluid">
			<%- body %>
		</div>

	</body>
	<footer>
		<script src="/js/dependencies/sails.io.js"></script>
		<script>
			$(document).ready(function() {
				$('#table').DataTable();
				$("#alertDanger").fadeOut(10000);
				$("#alertWarning").fadeOut(10000);
				$("#alertSuccess").fadeOut(10000);
			});
		</script>
	</footer>
</html>